{% extends 'base.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block body %}
    <h1>Teacher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ teacher.name }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ teacher.post }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_index') }}">back to list</a>

    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>

    {{ include('teacher/_delete_form.html.twig') }}
{% endblock %}
