{% extends 'base.html.twig' %}

{% block title %}Edit Cls{% endblock %}

{% block body %}
    <h1>Edit Class</h1>

    {{ include('cls/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cls_index') }}">back to list</a>

    {{ include('cls/_delete_form.html.twig') }}
{% endblock %}
