{% extends 'base.html.twig' %}

{% block title %}Cls index{% endblock %}

{% block body %}
    <h1>Class index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Grade</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cl in cls %}
            <tr>
                <td>{{ cl.id }}</td>
                <td>{{ cl.grade }}</td>
                <td>{{ cl.name }}</td>
                <td>
                    <a href="{{ path('cls_show', {'id': cl.id}) }}">show</a>
                    <a href="{{ path('cls_edit', {'id': cl.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cls_new') }}">Create new</a>
{% endblock %}
