{% extends 'base.html.twig' %}

{% block title %}New Cls{% endblock %}

{% block body %}
    <h1>Create new Class</h1>

    {{ include('cls/_form.html.twig') }}

    <a href="{{ path('cls_index') }}">back to list</a>
{% endblock %}
