{% extends 'base.html.twig' %}

{% block title %}Cls{% endblock %}

{% block body %}
    <h1>Class</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cl.id }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ cl.grade }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cl.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cls_index') }}">back to list</a>

    <a href="{{ path('cls_edit', {'id': cl.id}) }}">edit</a>

    {{ include('cls/_delete_form.html.twig') }}
{% endblock %}
