<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheets" href="../../build/app.css" type="text/css">
        {% block stylesheets %}
        {{encore_entry_link_tags('app')}}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <script src="../../build/runtime.js" type="text/javascript"><script>
         <script src="../../build/app.js" type="text/javascript"><script>
        {% endblock %}
        {% block javascripts %}
         {{encore_entry_script_tags('app')}}
         
        {% endblock %}
    </body>
</html>
